{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": false,
    "doubleQuote": true,
    "printWidth": 90,
    "tabWidth": 4,
    "useTabs": false,
    "jsxSingleQuote": false,
    "jsxDoubleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "endOfLine": "lf"
}
