.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.55);
  width: 52px;
  height: 52px;
  background-color: var(--grey-bg);
  color: var(--green-main);
  outline: none;

  svg * {
   color: var(--green-main); 
  }
}