.container {
    display: flex;
    flex-direction: column;
  }
  
  .itemsList {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  
    @media screen and (max-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
  
  .contentDesktop {
    display: block;
  
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  
  .contentMobile {
    display: none;
  
    @media screen and (max-width: 1024px) {
      display: block;
      margin-bottom: 30px;
    }
  }
  
  .fullWidthBanner {
    grid-column: 1 / -1;
  }
  