.authPage {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    background-color: var(--background-black);
}

.authContainer {
    background: white;
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px); /* Легкий эффект подъема */
    }

    @media (max-width: 768px) {
        width: 90%; /* Увеличиваем ширину на мобильных */
        padding: 2rem;
    }

    @media (max-width: 480px) {
        width: 100%;
        padding: 1.5rem;
        border-radius: 0; /* На мобильных убираем закругления */
    }
}

.title {
    font-size: 26px;
    margin-bottom: 25px;
    color: #333;
    font-weight: 600;
}

.authInput {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333; /* Темный текст */
    transition:
        border-color 0.3s ease,
        box-shadow 0.3s ease;

    &::placeholder {
        color: #a0aec0; /* Цвет плейсхолдера для контраста */
    }

    &:focus {
        border-color: #38a169;
        box-shadow: 0 0 8px rgba(56, 161, 105, 0.2);
        outline: none;
    }
}

.authBtn {
    width: 100%;
    padding: 14px;
    background-color: #38a169;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    transition:
        background-color 0.3s ease,
        transform 0.2s;

    &:hover {
        background-color: #2f855a;
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0);
    }
}

.toggleAuthMode {
    background: none;
    border: none;
    color: #3182ce;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.2s;

    &:hover {
        text-decoration: underline;
        color: #2b6cb0;
    }
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 5px;
    background-color: #f7fafc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.tabButton {
    flex: 1;
    padding: 12px;
    background-color: #edf2f7;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    margin-right: 5px;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    color: black;
    border-color: #38a169;

    &:disabled {
        background-color: #e2e8f0;
        color: #a0aec0;
        cursor: not-allowed;
    }

    &:hover {
        background-color: #e2e8f0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.activeTab {
    background-color: #38a169;
    color: white;
    border-color: #38a169;
}

.timer {
    margin-top: 10px;
    color: #e53e3e;
    font-size: 15px;
    font-weight: 600;
}
