.container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;


    @media screen and (max-width: 767px) {
        gap: 0px;
    }
}

.leftBlock {
    width: 636px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.rightBlock {
    top: 0px;
    position: sticky;
    max-width: 341px;
    flex-basis: 341px;
    padding-left: 26px;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.margin {
    margin-bottom: 30px;
}
