@import "../../../../lib/assets/styles/_media.scss";

.search {
    position: relative;
    background-color: var(--grey-bg);
    display: flex;
    align-items: center;
    height: 52px;
    min-width: 214px;
    border-radius: 33px;
    font-family: "Reggular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    @include vw-md {
        margin-top: 24px;
        width: 100%;
    }
}

.searchInput {
    border-radius: 33px;
    color: var(--grey-text);
    background-color: var(--grey-bg);
    width: 135px;
    min-width: 90px;
    padding: 10px 0px;
    margin: 0px 17px;

    @include vw-md {
        width: 100%;
    }

    &::placeholder {
        opacity: 0.4;
    }
}

.searchImg {
    cursor: pointer;
    margin-right: 4px;

    @include vw-md {
        width: 36px;
        height: 36px;
        margin-right: 8px;
    }
}
