@import "../../../lib/assets/styles/_media.scss";

.vacanciesInfo {
    margin-right: 20px;
    display: flex;

    min-width: 300px;
    margin-right: 40px;

    @media screen and (max-width: 1439px) {
        margin-right: 20px;
    }

    > p {
        color: var(--white-color);
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        @include vw-md {
            font-size: 32px;
        }
    }
    > span {
        min-width: 85px;
        color: var(--green-main);
        margin-left: 12px;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
}
