@import "../../../lib/assets/styles/_media.scss";

.containerHomePage {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    @include vw-smMax {
        flex-direction: column;
    }
}

.desktopContainer {
    width: 100%;

    @include vw-smMax {
        display: none;
    }
}

.mobileContainer {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include vw-smMax {
        display: flex;
    }
}
