.page {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.form {
  background-color: var(--grey-bg);
  padding: 1.5rem;
  border-radius: 0.75rem;
  width: 100%;
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--grey-text);
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.375rem;
  background-color: var(--grey-bg);
  color: var(--grey-text);
  border: 1px solid var(--grey-bg-hover-light);
  transition: all var(--transition-duration);

  &::placeholder {
    color: var(--grey-light);
  }

  &:focus {
    outline: none;
    background-color: var(--grey-bg-hover-light);
    border: 1px solid var(--green-main);
  }
}



.button {
  width: 100%;
  background-color: var(--green-main);
  color: black;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color var(--transition-duration);

  &:hover {
    background-color: var(--green-main-hover);
  }
}

.message {
  font-size: 0.875rem;
  color: var(--blue-text);
  text-align: center;
}


.description {
  font-size: 0.875rem;
  line-height: 1.4;
  
  color: var(--grey-text-new); // 👈 чуть менее белый
  margin-top: 1rem;
}
